h1 {
    font-size: 50px;
    background-color: beige;
}


ul {
    font-size: 20px;
    color: white;
    text-align: center
    
}

.sisig {
   background-color: lightgray ;
}

.tako {
    background-color: lightcyan;
}

.caramel {
    background-color: lightsalmon;
}